* {
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

select {
    margin-bottom: 2em;
}

.dataContainer {
    display: flex;
}

li {
    margin-bottom: 0.1em;
}

.alko {
    text-decoration: none;
}

.quantity {
    float: right;
}