* {
    margin: 0;
    padding: 0;
}

#root {
    background-color: rgba(255, 255, 255, 0.5);
    width: 20em;
    margin: auto auto;
    margin-top: 4em;
}

.spinningBottle {
    z-index: -1;
    position: absolute;
    top: 25%;
    right: 75%;
    animation: spinning 5s linear infinite;
}

.circelingBottle {
    z-index: -2;
    position: absolute;
    top: 40%;
    right: 25%;
    animation: circeling 7s linear infinite;
}

@keyframes spinning {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes circeling {
    from {
        transform: rotate(0deg) translateX(150px) rotate(0deg)
    }
    to {
        transform: rotate(360deg) translateX(150px) rotate(-360deg)
    }
}

@import 'https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css';

select {
    display: block;
    margin: 0 auto 2em auto;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 0.1em;
}

.left {
    float: left;
    margin: 0 auto 0 0;
}

.right {
    float: right;
    margin: 0 0 0 auto;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}